:root {
  /* 主色 */
  --el-color-primary: #BE9A49;

  /* Light 系列（Light-3 ~ Light-9） */
  --el-color-primary-light-3: #cfa65e;
  --el-color-primary-light-5: #deb371;
  --el-color-primary-light-7: #ecca85;
  --el-color-primary-light-9: #f9e6c5;

  /* Dark 系列（Dark-2） */
  --el-color-primary-dark-2: #9c823b;
}